.array-container {
  display: flex;
  justify-content: center;
  margin: 10px; 
  align-items: center; 
}

.array-bar{
  width: 2px;
  /* width: 2px; */
  display: inline-block;
  margin: 0 1px;
}

.sort-buttons-section
{
  background-color: beige;
  padding: 10px;
}

.sort-button
{
  color: blueviolet;
  margin: 5px;
  border: solid 2px blue;
  border-radius: 5px;
  background: none;
  box-shadow: none;
  font-size: 20px;
}

.generate-button
{
  background-color: beige;
  color: blueviolet;
  margin: 5px;
  border: solid 2px blue;
  border-radius: 5px;
  box-shadow: none;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}